.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

a {
  color: #333;
  text-decoration: none;
}

mat-card {
  padding-bottom: 0.4rem;
  transition: transform 200ms;

  &:hover {
    transform: scale(1.02);
  }
}

[mat-card-image] {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

mat-card-subtitle {
  margin-bottom: 0.3rem;
}

mat-card-title {
  font-size: 1.2rem;
}
