<div class="layout">
  <mat-card class="img-preview">
    <img
      class="main-img"
      [src]="'assets/' + shopItem?.imagePath"
      [alt]="shopItem?.name"
    />
    <div class="img-thumbnails">
      <img
        mat-card-sm-image
        [src]="'assets/' + shopItem?.imagePath"
        [alt]="shopItem?.name"
        *ngFor="let i of [].constructor(4)"
      />
    </div>
  </mat-card>
  <mat-card>
    <mat-card-title> {{ shopItem?.name }} </mat-card-title>
    <mat-card-content>
      <span>{{ shopItem?.description }}</span>
    </mat-card-content>
    <mat-card-content>
      <app-rating [rating]="shopItem?.rating ?? 0"></app-rating>
    </mat-card-content>
    <form #form="ngForm">
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="number"
          value="1"
          min="1"
          max="99"
          required
          name="quantity"
          [(ngModel)]="quantity"
        />
      </mat-form-field>
      <mat-card-content>
        {{ shopItem?.price ?? 0 | currency }}
      </mat-card-content>
      <div>
        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="form.invalid || !shopItem"
          (click)="addToCart()"
        >
          Add to Cart
        </button>
      </div>
    </form>
  </mat-card>
</div>
